# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\Users\p000495138\OneDrive - Ricoh\Share\my_github\02_Python\04_playground\39_pyd\test1\Dll1 codebase based on best match to current usage at 2021/03/24
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

