#main {
	position: absolute;
	left: 0px;
	top: 0px;
	 z-index: 1;
	background-image: url(BGstar.png);
	-webkit-animation: 'moveBG' 60s linear 0s infinite normal;
}
@-webkit-keyframes 'moveBG' {
	0% { background-position:0px 0px; }
	100% { background-position: -960px 0px; }
}
#ground {
	position: absolute;
	left: 0px;
	top: 0px;
	 z-index: 2;
}
div {
	position: absolute;
	left: 10px;
	top:330px;
}
