<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>オプションの使い方</title>
    </head>
    <body>
        <!-- 1. elオプション -->
        <p>----- 1.elオプション -----</p>
        <div id="app"></div>


        <!-- 2. dataオプション -->
        <p>----- 2.dataオプション -----</p>
        <div id="app-1">
            ようこそ{{name}}さん
        </div>


        <!-- 3. methodsオプション -->
        <p>----- 3.methodsオプション -----</p>
        <div id="app-2">
            <h2>おみくじがちゃ</h2>
            <p>{{fortune}}</p>
            <button @click="submit">引いてみる</button>
        </div>

        
        <!-- 4. computedオプション -->
        <p>----- 4.computedオプション -----</p>
        <div id="app-3">
            <h2>あいさつメーカー</h2>
            <select v-model="greeting">
                <option value="" disabled selected style="display:none">あいさつを選択</option>
                <option v-for="item in greetings" :value="item">{{item}}</option>
            </select>
            <input type="text" v-model="name" placeholder="名前を入力" />
            <select v-model="honorific">
                <option value="" disabled selected style="display:none">敬称を選択</option>
                <option v-for="item in honorifics" :value="item">{{item}}</option>
            </select>
            <p>出力　→　{{message}}</p>
        </div>


        <!-- 5.  watchオプション -->
        <p>----- 5.watchオプション -----</p>
        <div id="app-4">
            <p>最新テキスト: {{ text }}</p>
            <input type="text" :value="text" @keyup.enter="text = $event.target.value" /> 
        </div>


        <!-- vue機能のCDN -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <!-- js source -->
        <script src="03_option.js"></script>
        
    </body>
</html>